<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="/css/main.css">
<link type="text/css" rel="stylesheet" href="/css/basic.css">
<link type="text/css" rel="stylesheet" href="/css/header.css">
<link type="text/css" rel="stylesheet" href="/css/footer-distributed.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<title> Developing A React Edge! </title>

</head>
<body>
<div id="app">
</div>
</body>
<script type="text/javascript" src="/js/bundle.js"> </script>
</html>
